.blog-menu {
  .blog-header {
    min-height: 75px !important;
    background-color: $ocean-blue !important;
  }
}

.blog-header-links {
  position: absolute;
  bottom: 33px;

  .sphere {
    width: 40px !important;
    height: 40px !important;
    background: #bed9ff !important;
    margin-left: .5em;
    font-size: 1.3rem !important;
    padding-top: calc(20px - 0.8rem) !important;

    i {
      color: $ocean-blue-opacity !important;
    }
  }
}

.blog-post, .blog-agent {
  .author {
    display: flex;
    align-items: center;
    .author-img {
      flex: 0 1 100px;
      @include respond-to('desktop') {
        flex: 0 1 60px;
      }
      img {
        border-radius: 50%;
      }
    }
    
    .about-author {
      margin-left: 1.5em;
      font-weight: 400;
      h2 {
        font-size: 1.3rem;
        padding-bottom: 5px;
        font-weight: 400;
        @include respond-to('desktop') {
          font-size: 1.1rem;
        }
      }

      p {
        font-size: 1.15rem;
        color: $main-color;
        @include respond-to('desktop') {
          font-size: .9rem;
        }
      }
    }
  }
}

.blog-post {
  background: white;

  .container-fluid {
    max-width: 1366px;
    margin: 0 auto;
  }

  .the-post {
    @include respond-to('desktop') {
      box-shadow: 6px 2px 9px 1px #00000014;
    }
  }

  &__wrap {
    position: relative;
  }

  &__image {
    height: 200px;
    margin: 0 auto;
    background-size: cover !important;
    background-position: left !important;
    @include respond-to('desktop') {
      height: 349px;
    }
  }

  &__pre-title {
    position: relative;
    bottom: 12px;
    font-family: $default-font-family;
    background: $main-color;
    text-transform: uppercase;
    text-align: center;
    color: white;
    line-height: 0;
    padding: 1.1em 0;
    font-size: 0.7rem;
    width: 9rem;
    border-radius: 0.4em;
    font-weight: 500;
    @include respond-to('desktop') {
      position: absolute;
      bottom: -12px;
      left: 72px;
      box-shadow: 3px 9px 9px 1px #00000014;
    }
  }

  .control-header {
    max-width: 1366px;
    height: 0;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    position: relative;
  }

  .play {
    left: 15px;
  }

  &__title {
    margin: 1.5em 0 1.2rem;
    padding: 0;
    font-family: $light-font-family;
    font-size: 1.2rem;
    line-height: 1.2;
    color: $main-color;
    font-weight: normal;
    max-width: 20em;
    text-align: center;
    @include respond-to('tablet') {
      text-align: left;
      font-size: 1.625rem;
    }
  }

  .blog-post-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond-to('tablet') {
      justify-content: flex-start;
    }
    img {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 0.33em;
      border-radius: 50%;
    }

  }

  &__sub-title {
    font-size: 0.9rem;
    color: #1e232c;
    padding: 0;
    span {
      color: #98a6bf;
      word-spacing: 2px;
    }
  }
  
  &__video-wrap {
    position: relative;
    display: inline-block;
  }

  &__video {  
    .sphere-small {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: .7rem;
      transform: translate(-50%, calc(-50% - 15px));
      padding-left: 2px;
    }
    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% + 15px));
      text-transform: uppercase;
      color: white;
    }
  }

  &__after-text {
    h2 {
      color: $main-color;
      font-size: 1.05rem;
      line-height: 1.455;
      font-weight: 500;
      padding: 0;
      margin: 0.8em 0;
      @include respond-to('desktop') {
        font-size: 1.375rem;
      }
    }
    h3 {
      padding: 0;
      margin: 1em 0;
    }
    p {
      font-family: $default-font-family;
      font-size: 1rem;
      font-weight: 400;
      color: #1e232c;
      line-height: 1.765;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .wp-caption {
    position: relative;
    margin: 1.5em 0;
    padding: 0;
    border: 0;
    background: none;
    border-radius: 8px;
    display: inline-block;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 7px;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #000000b8 100%);
      opacity: 0.6;
      border-radius: 8px;
    }
    p.wp-caption-text {
      position: absolute;
      font-family: $default-font-family;
      bottom: 10px;
      color: white;
      left: 10px;
      font-size: 1.1rem;
      font-weight: 400;
    }
  }

  .blog-aside {
    .related-posts-heading {
      padding-top: .65em !important;
    }
    .one-related {
      a {
        margin-bottom: 1.5em;
        display: block;
      }
    }
  }

  .p-with-border-bottom {
    border-bottom: 1px solid $lightergray;
    padding-bottom: 2em;
  }

  .spaced {
    margin: 1.2em 0;
    justify-content: center;
    @include respond-to('tablet') {
      justify-content: flex-start;
    }
    
    .sphere-small {
      margin: 0 0.15em;
      height: 35.5px;
      width: 35.5px;
      font-size: 1.2rem;
    }
  }

  .post-comment {
    margin-top: 2em;
   
    &-form {
      .offer-link {
        text-transform: unset !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px !important;
        opacity: 1;
        &:hover,
        &:focus,
        &:active {
            opacity: 0.7;
        }

        @include respond-to('desktop') {
          width: 55%;
        }

        @include respond-to('m-desktop') {
          width: 25%;
        }

        a {
          font-weight: 400;
        }

        i {
          padding: 2px 0 0 10px !important;
          margin-left: unset !important;
        }
      }
    }

    .success {
      display: flex;
      justify-content: center;
      align-items: center;

      &-checkmark {
        border-radius: 50%;
        border:1.5px solid $main-color;
        padding: 4px;
        display: flex;
        margin-right: 10px;
        justify-content: center;
        align-content: center;
        i {
          color: $main-color;
          font-size: .7rem;
        }
      }

      p {
        font-size:1.1rem;
        font-weight: 400;
        color:$main-color;
      }
    }

    .one-comment {
      margin-top: 1em;
      .pic {
        flex: 0 0 50px;
        img {
          border-radius: 50%;
        }
      }
      h2, p {
        font-size: 1rem;
        font-weight: 400;
      }
      
      h2 {
        color: $main-color;
        margin-left: 1em;
      }

      p {
        color: black;
        padding: .8em 0;
      }

      .heart-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          font-size: 1.3rem;
          color: #00acee;
        }

        span {
          margin-left: .2em;
          margin-right: .8em;
          font-weight: 400;
          font-size: 1rem;
          color: $main-color;
        }

        .date {
          p {
            color: $gray-paragraph;
            font-size: 1rem;
          }
        }

        .not-hearted {
          color: black;
        }
      }
    }
  }

  .post-comment-form {
    textarea, .comment-form-author, .comment-form-email {
      border: 1px solid #d6dce6;
      box-shadow: inset 0px 9px 15px -10px #d6dce6;
      padding: 1.2em .50em;
      background: transparent !important;
      border-radius: 5px;
      font-family: $default-font-family !important;
   }

    textarea {
      border-width: thin !important;
      margin-top: 1em;
    }

    .comment-form-author, .comment-form-email {
      width: 100%;
      @include respond-to('desktop') {
        width: 40%;
      }
      input {
        width: 100%;
        padding: unset !important;
        background-color: unset !important;
        color: unset !important;
      }
    }

    .comment-form-author {
      margin-right: 0;
      margin-bottom: 1em;
      @include respond-to('desktop') {
        margin-right: 1em;
        margin-bottom: 0;
      }
    }



  }

  .home-worth {
    background-image: url("/wp-content/themes/theoffercompany/images/rainy.jpeg");
    background-size: cover;
    background-position: left;
    border-radius: 5px;
    margin: 1em 0 3em;
    
    .hw-faded {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 2em;
      width: 100%;
      background-color: rgba(0, 172, 237, 0.9);
      border-radius: 5px;
      @include respond-to('desktop') {
        padding: 3.5em 2em;
      }

      h2 {
        padding-bottom: 1em;
        color: white;
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        @include respond-to('m-desktop') {
          font-size: 25px;
        }
      }
    }

    .enterzip {
      margin-top: 0 !important;
      .input-group-prepend {
        margin-right: 0 !important;
      }
    }

    
  .enterzip-group {
    width: 100%;
    max-width: 440px; 

    @include respond-to('tablet') {
      width: 80%;
    }

    @include respond-to('m-desktop') {
      width: 60%;
    }
  }
  
    .enterzip--inset {
      .input-group-prepend {
        position: relative;
        margin-right: 0 !important;
      }
  
      input.form-control {
        padding: 26px 18px !important;
        color: #b6b6b6;
        font-family: $graphik-font-family; font-weight: 300;
        font-size: 17px;
        font-weight: 300;
      }
  
      i {
        font-size: 26px;
        color: #00aced;
        position: absolute;
        top: 16px;
        right: 12px;
      }
    }
  
    .offer-link {
      background: transparent !important;
      border: 2px solid white !important;
      min-width: 100%;
      margin: 15px 0 0 0;
      padding: 12px;
      text-align: center;
      text-transform: unset;
      font-size: 1rem;
      color: white;
      transition: all 0.3s ease;
      font-weight: 400;
      opacity: 1;
      &:hover,
      &:focus,
      &:active {
          opacity: 0.7;
      }
    }
  
    .landing-search {
      .search-field .input-group.buy::after {
        display: none;
      }
  
      .search-field {
        margin-top: 0;
        border-radius: 10px;
        box-shadow: 0px 2px 11px 0px rgba(10, 25, 40, 0.27) !important;
        max-width: unset;
      }
  
      input {
        font-size: 17px !important;
      }
  
      .form-control {
        padding: 26px 18px !important;
      }
    }
  }
}