.lh-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  // to be dealt with... mobile first
}

.b-shadow {
  box-shadow: 0px 16px 27px -15.25px rgba(10, 25, 40, 0.27)
  //refactor everywhere!
}

.row.row-without-margins {
  margin: 0 !important;
}

.modal-menu {
  background: white;
  width: 100%;
  padding: 30px 0 30px 16px;
  font-size: 18.5px;
  .fasback {
    font-size: 18.5px;
    padding: 0 16px;
    color: $main-color;
  }
}

figure.lh-img-holder {
  margin-bottom: 0 !important;
  position: relative;
  margin: 0 !important;
}

[class^="col-"].lh-img {
  padding: 0 !important;
}

.lh-img-holder {
  img {
    display:block;
  }
  span {
    background: rgba(36, 44, 57, 0.7);
    position: absolute;
    color:white;
    border-radius: 5px;
    padding: 12px;
    font-size: 16.23px;
    font-weight:bold;
  }

  span:first-child {
    bottom: 15px;
    right:15px;
  }
  
  span:last-child {
    top: 15px;
    right:15px;
  }
}

.fasarrow {
  font-size: .9rem;
}

.offer-link-group {
  width:100%;
  text-align: center;

  .offer-link {
    border-width: 0px !important;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 16px;
    text-transform: uppercase;
    margin: 10px 15px;
    width: 202px;
    font-family: "Graphik Regular", Helvetica, Arial, Lucida, sans-serif !important;
    background-color: $main-color;
    a {
      color: white;
    }
    .fasarrow {
      color: white;
      padding-left: 1em;
    }
  }
}

.lh-info-imp {
  font-weight: 600;
}

.red-dot {
  height: 10px;
  width: 10px;
  padding: 0 !important;
  background-color: crimson;
  border-radius: 50%;
}

.lh-info-wrapper {
  color: black;
  margin-top:1.87em;
  padding-left: 1.87em;
  p {
    padding: 0;
    font-size: 1.1rem;
  }
  span {
    font-size: 1.1rem;
    display:inline-block;
    padding: 1.2rem 0;
  }
  span.small-dot{
    margin: 0 .5rem;
    font-weight: 100;
  }
  .small-imp {
    font-size: .9rem;
    padding-left: .3em;
    padding: 0;
  }
  .large-link {
    display:block;
    font-size:1.2rem;
    font-weight:bold;
    padding: .5em 0;
    .fasarrow {
      padding-left: .5em;
    }
  }
  a.lh-info-imp {
    padding: 0;
    margin: 1.3rem 0;
  }
  .lh-money {
    margin-top: .5rem;
    padding-bottom: 0;
  }
  .lh-house {
    margin-bottom: 1.3rem;
  }
}

.more-imgs {
  background: crimson;
}