.lh-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: 3px 2px 16px 1px grey;
  // to be removed
}

.b-shadow {
  box-shadow: 0px 16px 27px -15.25px rgba(10, 25, 40, 0.27)
  //refactor everywhere!
}

.row.row-without-margins {
  margin: 0 !important;
}

.modal-menu {
  background: white;
  width: 100%;
  font-size: 18.5px;
  .go-back {
    padding: 30px 0 30px 16px;
  }
  .fasback {
    font-size: 18.5px;
    padding: 0 16px;
    color: $main-color;
  }
  .various-link {
    align-items: center;
    padding: .3em 0 0 1.87em;
    .offer-link {
      margin-left: 0;
      margin-right: 1em;
    }
    .faw-options {
      display: flex;
      padding-top: 0;
      .far,.fas {
        font-size: 1.7rem;
        margin-right: .2em;
      }
    }
    .faw-options > * {
      padding: 0 .5em;
    }

    p {
      font-size: 1rem;
    }
  }
}

figure.lh-img-holder {
  margin-bottom: 0 !important;
  position: relative;
  margin: 0 !important;
}

[class^="col-"].lh-img {
  padding: 0 !important;
}

.lh-img-holder {
  img {
    display:block;
  }
  span {
    background: rgba(36, 44, 57, 0.7);
    position: absolute;
    color:white;
    border-radius: 5px;
    padding: 12px;
    font-size: 16.23px;
    font-weight:bold;
  }

  span:first-child {
    bottom: 15px;
    right:15px;
  }

  span:last-child {
    top: 15px;
    right:15px;
  }
} // lh-img-holder

.fasarrow {
  font-size: .9rem;
}

.offer-link-group {
  width:100%;
  text-align: center;
}

.offer-link {
  border-width: 0px !important;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  text-transform: uppercase;
  margin: 10px 15px;
  width: 202px;
  font-family: "Graphik Regular", Helvetica, Arial, Lucida, sans-serif !important;
  background-color: $main-color;
  a {
    color: white;
  }
  .fasarrow {
    color: white;
    padding-left: 1em;
  }
} // offer-link

.lh-info-imp {
  font-weight: 600;
}

.red-dot {
  height: 10px;
  width: 10px;
  padding: 0 !important;
  background-color: crimson;
  border-radius: 50%;
}

.lh-info-wrapper {
  color: black;
  margin-top:1.87em;
  padding-left: 1.87em;
  p {
    padding: 0;
    font-size: 1.1rem;
  }
  span {
    font-size: 1.1rem;
    display:inline-block;
    padding: 1.2rem 0;
    font-weight: 600;
    @include respond-to('desktop') {
      padding: 0.5rem 0;
    }
  }
  span.small-dot{
    margin: 0 .5rem;
    font-weight: 100;
  }
  .small-imp {
    font-size: .9rem;
    padding-left: .3em;
    padding: 0;
  }
  .large-link {
    display:block;
    font-size:1.2rem;
    font-weight:bold;
    padding: .5em 0;
    .fasarrow {
      padding-left: .5em;
    }
  }
  a.lh-info-imp {
    padding: 0;
    margin: 1.6rem 0;
    @include respond-to('desktop') {
      margin: 0.6rem 0 2rem;
    }
  }
  .lh-money {
    margin-top: .5rem;
    padding-bottom: 0;
  }
  .lh-map {
    padding-right: 25px;
    justify-content: flex-end;
    @include respond-to('desktop') {
      padding-right: 0;
      justify-content: flex-start;
    }
    img {
      display: block;
      width: 120px;
      height: 120px;
    }
  }
} // lh-info-wrapper

.lh-house-details.lh-house-details--big {
  .agent-phone, .agent-text {
    font-size: 16px;
    &-text {
      margin-right: 1.4em;
    }
  }
}

.lh-house-details {
  margin: 2em 0;
  .lh-house {
    margin-bottom: 1.3rem;
    &--desktop {
      margin-top: 2rem;
    }
  }
  .agent-phone {
    transform: rotate(90deg);
    color: white;
    background: $main-color;
    padding: .8em;
    border-radius: 50%;
    &-text {
      font-size: 1rem;
      margin-left: 0.6em;
    }
  }
  .agent-text {
    margin-left: 1.4em;
    color: white;
    background: $main-color;
    padding: .8em;
    border-radius: 50%;
    font-size: 16px;
    &-text {
      font-size: 1rem;
      margin-left: 0.6em;
    }
  }
} // lh-house-details

  .faw-options {
    padding-top: 2em;
    margin-right: 20px;
    color: $main-color;
    [class*='col-'] {
      text-align: center;
    }
    i {
      font-size: 2.5rem;
      padding-right: .5em;
    }
    p {
      margin-left: -1em;
    }
  }

.hr {
  margin-left: -42px;
  width: calc(100% + 80px);
  &-up {
    padding-bottom: 25px;
    border-top: 1px solid $lightergray;
  }
  &-down {
    padding-top: 25px;
    border-bottom: 1px solid $lightergray;
  }
}

.lh-pictures {
  .image {
    display: block;
    height: #{(397.59 / 2 - 2)}px;
    background-size: cover;
  }
  justify-content: space-between;
  .col-6 {
    flex-basis: calc(50% - 4.5px);
  }
  .col-6:nth-child(1), .col-6:nth-child(2) {
    margin-bottom: 4px;
  }
  .col-6:nth-child(1), .col-6:nth-child(3) {
    margin-left: 4px;
  }
}

.contact-agent {
  p {
    color: #4a505d !important;
  }

  @include respond-to('desktop') {
    padding-left: 1.45rem !important;
    border-left: 1px solid $lightergray;
  }
  &-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
  }
  h2.contact-agent-prev-name {
    font-size: 1.1rem;
    color: $main-color;
    padding-bottom: .2em;
  }
  &-details {
    padding-left: .8em !important;
  }
  .fa-star {
    color: $main-color;
  }
  &-controlls {
    position: absolute;
    top: 0;
    right: 20px;
    .agent-phone {
      transform: rotate(90deg);
      color: white;
      background: $main-color;
      padding: .8em;
      border-radius: 50%;
      font-size: 12px;
      &-text {
        margin-left: 0.7em;
        @include respond-to('xs-mobile') {
          font-size: .8rem;
          width:10px;
        }
        @include respond-to('mobile') {
          font-size: 1.1rem;
          width:auto;
        }
      }
    }
    .agent-text {
      margin-left: 1.4em;
      color: white;
      background: $main-color;
      padding: .8em;
      border-radius: 50%;
      font-size: 12px;
      &-text {
        font-size: 1.1rem !important;
        margin-left: 0.7em;
      }
    }
  }
} // contact agent

.another-contact {
  display: flex;
  margin: 1em 0;
  p {
    font-size: .7rem;
  }
  .preferred-lender {
    padding-left: 1em;
  }
  @include respond-to('desktop') {
    justify-content: center;
  }
}

.contact-agent-form, .lh-form {
  margin-top: 2.5em;
  margin-right: 20px;
  select.lh-custom-select {
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: .8em .33em;
   display: block;
   width: 100%;
  }
  .lh-custom-select-wrap {
    position: relative;
    &:before {
      display: inline-block;
      position: absolute;
      right: 12px;
      top: 16px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      text-rendering: auto;
      font-variant: normal;
      line-height: 1;
      content: "\f078";
    }
  }
  select::-ms-expand {
    display: none;
  }
  .lh-label {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .input-group {
    margin: 15px 0;
    border-right: none;
    /*
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      z-index: 999;
      border-radius: 4px;
      box-shadow: inset 0px 0px 2px 2px #e7e7e7;
      pointer-events: none;
    } */
  }
  .input-group-text {
    background: none;
    border: 1px solid;
    // border: none;
  }
  .form-control {
    border: 1px solid #666;
    padding: 1.4em .33em;
    // border: none;
    &:active, &:focus, &:hover {
      outline: none;
      box-shadow: none;
    }
  }
  textarea {
    height: 100px;
    max-height: 200px;
    min-height: 80px;
  }
  button {
    background: none;
    border: none;
    color: white;
    font-weight: 600;
  }

  .offer-link {
    width: 100%;
    padding: 10px;
    margin: 1rem 0;
    font-size: 1rem;
  }

  .fa-phone {
    transform: rotate(90deg);
  }
} // contact agent form

.plus-button {
  i {
    margin-right: .33em;
  }
  text-transform: uppercase;
  color: $main-color;
  font-size: 1.2em;
  font-weight: 600;
}

.lh-virutal-tour {
  margin: 3em 0 4em;
  display: flex;
  flex-direction: column;
  .list-home-title {
    margin-bottom: .7em;
  }
  img {
    border-radius: 5px;
    margin-right: 15px;
    @include respond-to('mobile') {
      margin-right: 25px !important;
    }
  }
}

.fadown, .faup {
  font-size: 1.7rem;
  float: right;
  padding: 0 1em;
}

.faup {
  color:$main-color;
}

.fadown {
  color: $lightergray;
}

.lh-features {
  .list-home-title {
    padding: .5em 0
  }

  .hr-down {
    margin-bottom: 2em;
  }

  .lh-subtitle {
    color: $main-color;
    padding-top: 1em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

}

.lh-house-prop-desc {
  p {
    padding-right: 25px;
    color: #525b6a;
    font-size: 17.3px;
    margin-bottom: 1em;
  }
}

.lh-features-list-wrap {
  margin-right: 20px;
  font-size: 13.6px;
}

.lh-finance {
  .offer-link {
      margin: 3rem 0 2rem;
      width: calc(100% - 20px);
  }
  &:before {
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    pointer-events: none;
    box-shadow: inset 0px 16px 27px -15.25px rgba(10, 25, 40, 0.27);
    margin-left: -26px;
    width: calc(100% + 26px);
  }
  i {
    color: $main-color;
  }
  h1 {
    padding-top: 2em;
    margin-bottom: 1em;
  }
  ul {
    li:nth-child(1) {
      &:before {
        background: #25aae1;
      }
    }
    li:nth-child(2) {
      &:before {
        background: #0075ed;
      }
    }
    li:nth-child(3) {
      &:before {
        background: #88d6f4;
      }
    }
    li:nth-child(4) {
      &:before {
        background: #6da2e4;
      }
    }
    li:nth-child(5) {
      &:before {
        background: #d3dff8;
      }
    }
    li {
      &:before {
        display: inline-block;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 .5em .1em 0;
      }
      font-size: 18px;
      margin: .7em 0;
      strong {
        margin-left: .11em;
      }
    }
  }
  &-list {
    display: flex;
    align-items: center;
  }
}

.lh-details-block {
  border-bottom: 1px solid $lightergray;
  margin-right: 20px;
  margin-bottom: 1.3rem;
  & > strong {
    display: block;
    margin-bottom: .5em;
    font-size: 1rem;
  }
}

.lh-provider {
  p, span {
    font-size: .8rem;
    font-weight: 100;
  }
  p, a {
    font-weight: 600;
  }
  span {
    padding: .5em 0 2em;
    display: block;
  }

  .offer-link {
    margin: 0 10px 20px 0;
    padding: 14px !important;
  }
}

/* SVG chart */
.chart-text {
  font: 16px $default-font-family, Arial, sans-serif;
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.2em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-1.65em);
}

.chart-label {
  font-size: 0.2em;
  line-height: 1;
  text-anchor: middle;
  font-weight: bold;
}

.border-dotted {
  border: 3px dotted $lightergray;
  padding: 1.2em;
  font-size: 1.5rem;
  margin-right: 1em;
  margin-bottom: 1em;
  color: $main-color;
}
