.wrapper {
  background: -webkit-linear-gradient(90deg, #a4d2f4 0%, #80c6f2 100%);
  background: -moz-linear-gradient(90deg, #a4d2f4 0%, #80c6f2 100%);
  background: -o-linear-gradient(90deg, #a4d2f4 0%, #80c6f2 100%);
  background: -ms-linear-gradient(90deg, #a4d2f4 0%, #80c6f2 100%);
  background: linear-gradient(0deg, #a4d2f4 0%, #80c6f2 100%);
  width: 100%;
  height: auto;
    .cleaner{
    clear: both;
  }
    .wrapperTop{
        width: 100%;
        height: 75px;
        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
            p{
              font-family: Graphik;
              color:  #ffffff;
              font-size: 18px;/* Approximation due to font substitution */
              font-weight: 400;
              line-height: 52px;/* Approximation due to font substitution */
              text-align: left;
                a{
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    .wrapperMid{
        width: 360px;
        height: auto;
        margin: 0px auto;
        text-align: center;
            h1{
                font-size: 30px;
                color: #ffffff;
                font-weight: 400;
                transform: scaleY(1.0005);
            }
            h2{
                font-size: 30px;
                color: #ffffff;
                font-weight: 500;
                transform: scaleY(1.0005);
            }
            h3{
                font-size: 20px;
                color: #ffffff;
                font-weight: 500;
                transform: scaleY(1.0005);
            }
            h4{
                font-size: 18px;
                color: #ffffff;
                font-weight: 400;
                transform: scaleY(1.0005);
            }
            hr{
                background-color:  #ffffff;
                width: 34px;
                height: 4px;
            }
            h5{
                font-size: 15px;
                color: #ffffff;
                font-weight: 400;
                transform: scaleY(1.0005);
            }
        }
        .wrapperBlocks{
            width: 360px;
            height: auto;
            margin: 0px auto;
                .formBlock{
                    margin: 0px auto;
                    height: 100px;
                    width: 100%;
                    max-width: 360px;
                    background-color: #ffffff;
                    border-radius: 10px;
                        .formCircle{
                            background-color:  #00aced;
                            width: 40px;
                            height: 40px;
                            margin: 7% 0% 0% 5%;
                            border-radius: 50%;
                            float: left;
                        }
                        h4{
                            float: left;
                            width: 220px;
                            font-size: 24px;
                            color: #000000;
                            font-weight: 400;
                            margin-top: 10%;
                            margin-left: 6%;
                            transform: scaleY(1.0005);
                        }
                        .formArrow{
                            width: 60px;
                            height: 100px;
                            float: left;
                            padding-top: 10%;
                            padding-left: 7.5%;
                        }
                }
                .formBorderTop{
                    border-radius: 5px 5px 0px 0px;
                    border-bottom: 0.3px solid #c1c1c1;
                }
                .formBorderMid{
                    border-radius: 0px;
                }
                .formBorderBot{
                    border-radius: 0px 0px 5px 5px;
                    border-top: 0.3px solid #c1c1c1;
                }
        }
        .wrapperForm{
            width: 360px;
            height: 200px;
            margin: 0px auto;
                form{
                    width: 100%;
                    height: auto;
                        input{
                            width: 45%;
                            height: 40px;
                            border-radius: 5px;
                            color: #000000;
                            margin-bottom: 4%;
                            border: none;
                            padding-left: 3%;
                            float: left;
                        }
                        .formMR{
                            margin-right: 10%;
                        }
                        .formSubmitFull{
                            background-color: #00aced;
                            padding-left: 0%;
                            width: 100%;
                            color: #ffffff;
                        }
                        .formSubmitHalf{
                            background-color: #00aced;
                            padding-left: 0%;
                            width: 45%;
                            margin: 0px auto;
                            color: #ffffff;
                        }
                        .formFullWidth{
                        width: 100%;
                        }
                }
        }
        .wrapperFormBigger{
            width: 360px;
            height: 303px;
            margin: 0px auto;
                form{
                    width: 100%;
                    height: auto;
                        input{
                            width: 45%;
                            height: 40px;
                            border-radius: 5px;
                            color: #000000;
                            margin-bottom: 4%;
                            padding-left: 3%;
                            border: none;
                            float: left;
                        }
                }
                .formFullWidth{
                    width: 100%;
                }
        }
        .wrapperFormDekstop{
            width: 750px;
            height: 443px;
            margin: 0px auto;
            background-color: #c2c2c2;
                form{
                    width: 50%;
                    height: auto;
                        input{
                            width: 90%;
                            margin-left: 5%;
                        }
                }
                .formsLeft{
                    float: left;
                }
                .formsRight{
                    float: right;
                }
        }
        .wrapperFormRadio{
            width: 360px;
            height: auto;
            float: left;
                form{
                    width: 100%;
                    height: auto;
                        input{
                            width: 6%;
                            font-size: 11px;
                        }
                }
        }
        .personBlock {
            width: 390px;
            height: 160px;
            background-color: #ffffff;
            box-shadow: 0px 25px 64.6px 3.4px rgba(53, 94, 140, 0.18);
            margin: 3% auto;
            border-radius: 5px;
                .iconBlock{
                    height: 90px;
                    width: 90px;
                    border-radius: 50%;
                    float: left;
                    margin: 9% 0% 0% 9%;
                    background-color: #c2c2c2;
                }
                .infoBlock{
                    height: 160px;
                    width: 260px;
                    float: left;
                    padding-left: 10%;
                    padding-top: 5%;
                }
        }
        .goBack{
            margin: 0px auto;
            text-align: center;
                p a{
                    color: #ffffff;
                    font-size: 19px;
                        i{
                            margin-right: 1%;
                        }
                }
        }
        .legend{
            color: #ffffff;
            margin-left: 5%;
        }
        .radioForms{
            width: 100%;
            max-width: 360px;
            height: 130px;
            margin: 0px auto;
                h5{
                    font-size: 15px;
                    color: #ffffff;
                }
                h3{
                    color: #ffffff;
                }
                .radioForm{
                    width: 180px;
                    height: 100px;
                    float: left;
                            form{
                            width: 100%;
                            height: auto;
                            float: left;
                                input{
                                    width: 11%;
                                    margin-right: 3%;
                                }
                        }
                }
        }
        .textForm{
            width: 100%;
            max-width: 360px;
            height: 145px;
            background-color: #ffffff;
            border-radius: 5px;
            border: none;
            padding-bottom: 30%;
            padding-left: 5%;
            
        }
        .radioFormRight{
            text-align: right;
        }
        .buttons{
            margin: 5% auto 0% auto;
            width: 360px;
            height: 40px;
                form{
                    width: 100%;
                    height: 40px;
                        input{
                            width: 45%;
                            height: 40px;
                            margin: 0px 2.2%;
                            border: none;
                            border-radius: 5px;
                            background-color: #00aced;
                        }
                }
        }
        #smallTable, #smallTable1, #smallTable2{
            margin: 1% auto;
            width: 360px;
            height: auto;
            color: #ffffff;
                tr td{
                    width: 50%;
                        &:nth-child(even){
                            text-align: right;
                        }
                }
        }
        #wrapperFooter{
            width: 360px;
            height: 60px;
            margin: 7% auto 0% auto;
            background-color: #00aced;
        }
}