@media only screen and (min-width: 960px) {
    .container {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .et_pb_row {
        width: 80%;
    }
    .main-header {
        padding-bottom: 40px;
        .logo {
            margin-top: -40px;
            &.slide {
                left: -320px;
            }
            #logo {
                max-width: 100% !important;
            }
        }
        #menu-opener {
            span {
                display: block !important;
            }
        }
    }
    .under_header {
        padding-top: 164px !important;
    }
    .landing-search {
        .search-choice {
            max-width: 400px !important;
        }
        .search-field {
            max-width: 570px;
            .input-group {
                &.buy::after {
                    left: 9%;
                }
                &.sell::after {
                    left: 30%;
                }
                &.estimate::after {
                    left: 56%;
                }
            }
        }
    }
    .landing-links {
        .col-link {
            margin-bottom: 0px;
            a {
                &:hover,
                &:focus,
                &:active {
                    i {
                        right: 7%;
                    }
                }
                i {
                    right: 10%;
                    &:hover,
                    &:focus,
                    &:active {
                        right: 7%;
                    }
                }
            }
            .separator {
                position: absolute;
                float: right;
                width: 1px;
                background: #eee;
                height: 100%;
                right: 7%;
                left: unset;
                top: 0;
            }
            p {
                max-width: 75%;
                margin-bottom: 0px;
            }
            &:last-child {
                .separator {
                    display: none;
                }
            }
        }
    }
    .owl-prev {
        left: -50px;
    }
    .owl-next {
        right: -50px;
    }
    footer {
        .upper-footer {
            .footer-links {
                h3 {
                    text-align: left;
                }
                ul {
                    max-width: 75%;
                    text-align: left;
                    padding: 0px 0px;
                    li {
                        
                    }
                }
                .more-link {
                    text-align: left;
                }
            }
        }
        .bottom-footer {
            .footer-links {
                padding: 0px 0px;
                h3 {
                    text-align: center;
                }
                ul {
                    -moz-column-count: 2;
                    -moz-column-gap: 10px;
                    -webkit-column-count: 2;
                    -webkit-column-gap: 10px;
                    column-count: 2;
                    column-gap: 10px;
                    text-align: center;
                    padding: 0px 50px;
                }
                .more-link {
                    text-align: left;
                }
            }
            .footer-copyright {
                text-align: left;
                margin-bottom: 0px;
            }
            .footer-contact {
                h3 {
                    text-align: right;
                    margin-top: 0px;
                }
                span {
                    text-align: right;
                }
            }
        }
    }
}