$breakpoints: (
  'xs-mobile': 320px,
  'mobile': 480px,
  'tablet': 576px,
  'desktop': 768px,
  's-desktop': 960px,
  'm-desktop': 1000px,
  'l-desktop': 1440px
);

@mixin respond-to($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin make-circle($sphere-size, $base-font) {
  height: $sphere-size;
  width: $sphere-size;
  border-radius: 50%;
  background: crimson;
  font-size: $base-font;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  i {
    color: white;
    line-height: unset;
  }
}