.modal {
  margin:0 !important;
  @include respond-to('desktop') {
    margin-top: 2.5em !important;
  }
  .modal-content {
    width:290px;
    margin: 0 auto;
    @include respond-to('desktop') {
      width:400px;
    }
  }
  .modal-header {
    position: relative;
    padding: 1.4em 0 0;
    justify-content: center;
    border: none;
    button {
      span {
        font-family: $graphik-font-family; font-weight: 400;
        font-weight: normal;
        font-size: 3.7rem !important;
      }
      position: absolute !important;
      top: -2px;
      right: 20px;
      margin: 0;
      padding: 0;
    }
    h5.modal-title {
      font-family: $graphik-font-family; font-weight: 400;
      font-size: 1.1rem;
      padding: 0;
    }
  }

  .custom-checkmark {
    margin-top: 0 !important;
    color:black;
  }
}

$sphere-size: 50px;
$base-font: 1.8rem;

.sphere-container {
  display: flex;
  justify-content: space-evenly;
  @include respond-to('desktop') {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.sphere {
  height: $sphere-size;
  width: $sphere-size;
  border-radius: 50%;
  background: crimson;
  font-size: $base-font;
  padding-top: calc(#{($sphere-size / 2)} - #{$base-font / 2});
  text-align: center;
  i {
    color: white;
  }
}

$smallness: 0.55;

.sphere-small {
  height: $sphere-size * $smallness;
  width: $sphere-size * $smallness;
  font-size: $base-font * $smallness;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  i {
    color: white;
  } 
}

.sphere--fb {
  background: #3b5997;
}

.sphere--twitt {
  background: #26a5d1;
}

.sphere--in {
  background: #0079b8;
}

.sphere--pinta {
  background: #ca1f26;
}

.sphere--email {
  background: $main-color;
}

#virtual-tour-modal {
  .modal-body--center {
    p {
      @include respond-to('desktop') {
        width: 320px;
      }
    }
  }
}

#remove-modal {
  .modal-body--center {
    p {
      @include respond-to('desktop') {
        width: 300px;
      }
    }
  }
}

#virtual-tour-modal, #remove-modal {
  .modal-body--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
    }
  }

  h5.modal-title {
    font-size: 1.1rem;
    color: $main-lighter;
    display: flex;
    align-items: center;
    i {
      padding-right: .4em;
      font-size: 1.3rem;
    }
  }
}

.modal-blue-links {
  display: flex;
  justify-content: space-around;
  margin: 1.2em 0;
}

.blue-link {
  border-width: 0px !important;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  padding: .5rem 2rem;
  margin: 0 .4rem;
  text-transform: uppercase;
  font-family: "Graphik Medium", Helvetica, Arial, Lucida, sans-serif !important;
  background-color: #00acee;
  color: white;
  @include respond-to('desktop') {
    width: 160px;
  }
}

