/**
 *  Styles for the My Account page
 *
 */
#my-account {
    font-family: $graphik-font-family;
    .content {
        padding: 3rem 0rem !important;
    }
    .row.section {
        margin: 1rem 0;
    }
    .separator {
        @include respond-to('s-desktop') {
            margin: 3rem 0;
            height: 1px;
            width: 100%;
            background: #d6dce6;
            background: #ffffff;
            background: linear-gradient(to right, #ffffff 1%,#d6dce6 15%,#d6dce6 85%,#ffffff 100%);
        }
    }
    h1.segment-title {
        color:  #1e232c;
        font-size: 1.499rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        display: block;
        width: 100%;
        text-align: center;
        @include respond-to('s-desktop') {
            text-align: left;
            padding-left: 15px;
        }
        &.collapsable {
            margin-top: 2rem;
            font-size: 1.3rem;
            margin-bottom: 1rem;
            text-align: left;
            padding-left: 15px;
            &:hover,
            &:active,
            &:focus {
                cursor: pointer;
            }
            @include respond-to('s-desktop') {
                margin-top: unset;
                font-size: 1.499rem;
                margin-bottom: 1.5rem;
                &:hover,
                &:active,
                &:focus {
                    cursor: unset;
                }
            }
        }
        &.center {
            @include respond-to('s-desktop') {
                text-align: center;
                margin: 1.5rem 0rem;
                padding-left: unset;
            }
        }
    }
    .profile-photo {
        max-width: 155px;
        max-height: 155px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        .hover-overlay {
            position: absolute;
            display: block;
            visibility: hidden;
            opacity: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            border-radius: 50%;
            max-height: 155px;
            max-width: 155px;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
            text-align: center;
            padding-top: 70px;
            p {
                color: #ffffff;
                font-size: 0.787rem;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        &:hover {
            .hover-overlay {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .profile {
        padding: 0px 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid #d6dce6;
        @include respond-to('s-desktop') {
            padding: 0px;
            padding-bottom: 15px;
            border: none;
        }
        h1 {
            color:  #00acee;
            font-size: 1.497rem;
            font-weight: 400;
            padding: 0;
            margin-bottom: 20px;
            text-align: center;
            margin-top: 20px;
            @include respond-to('s-desktop') {
                text-align: left;
                margin-top: 0;
            }
        }
        h6 {
            color:  #1e232c;
            font-size: 1.124rem;
            font-weight: 400;
            padding: 0;
            margin-bottom: 5px;
        }
        p {
            color:  #1e232c;
            font-size: 1.124rem;
            font-weight: 500;
        }
        .btn {
            border-radius: 5px;
            background-color:  #00acee;
            color: #fff;
            padding: 10px 0px;
            margin-top: 1.5rem;
            opacity: 1;
            transition: all 0.3s ease;
            &:hover,
            &:active,
            &:focus {
                opacity: 0.7;
            }
            i {
                font-size: 0.8rem;
                margin-left: 5px;
            }
            @include respond-to('s-desktop') {
                max-width: 75%;
            }
        }
    }
    .agent-info {
        padding: 0px 15px;
        @include respond-to('s-desktop') {
            padding-bottom: 15px;
        }
        [type="radio"] {
            margin-bottom: 1rem;
            & + label {
                color:  #1e232c;
                font-size: 1.063rem;
                margin-bottom: 1rem;
                padding-left: 22px;
                margin-right: 0;
            }
            &:checked + label {
                font-weight: 500;
                &:before {
                    width: 19px;
                    height: 19px;
                    margin-top: 1px;
                    border: 2px solid #09a9e8;
                }
                &:after {
                    width: 13px;
                    height: 13px;
                    background: #09a9e8;
                    position: absolute;
                    top: 4px;
                    left: 3px;
                    opacity: 1;
                }
            }
            &:not(:checked) + label {
                font-weight: 400;
                &:before {
                    width: 19px;
                    height: 19px;
                    margin-top: 1px;
                    border: 2px solid #09a9e8;
                }
                &:after {
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
            }
        }
    }
    .myaccount-contact-agent {
        position: relative;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        box-shadow: 0px 25px 64.6px 3.4px rgba(53, 94, 140, 0.18);
        padding: 1.2rem 1.2rem;
        margin-bottom: 3em;
        @include respond-to('s-desktop') {
            flex-direction: column;
            margin-top: 1rem;
        }
        @include respond-to('m-desktop') {
            flex-direction: row;
            max-width: 460px;
        }
        .contact-agent-pic {
            flex: 0 1 130px;
            @include respond-to('s-desktop') {
                flex: 0 0 130px;
                max-width: 130px;
            }
            .agent-pic {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
        }
        .contact-details {
            margin-left: 20px;
            @include respond-to('tablet') {
                margin-left: 40px;
            }
            @include respond-to('tablet') {
                margin-left: 20px;
            }
            h2 {
                font-size: 19px !important;
                font-family: $publico-font-family;
                padding-bottom: 0px !important;

                @include respond-to('tablet') {
                    font-size: 24px !important;
                    padding-bottom: 5px !important;
                }
            }
            .fa-star {
                font-size: 14px;
                color: $main-color;
                @include respond-to('tablet') {
                    font-size: 1rem;
                }
            }
            p:last-of-type {
                padding-top: 0 !important;
            }
            p {
                padding: .1em 0 !important;
                font-size: 14px;
                font-weight: 400;
                word-wrap: break-word;
    
                @include respond-to('tablet') {
                    font-size: 1.1rem;
                    padding: .3em 0 !important;
                }
            }
            .call-chat-write {
                position: absolute;
                bottom: -16px;
                @include respond-to('m-desktop') {
                    bottom: -19px;
                }
            }
        }
        .agent-phone {
            color: white;
            background: $main-color;
            padding: .6rem;
            border-radius: 50%;
            font-size: 15px;
            margin-right: 4px;
            transition: all 0.3s ease;
            @include respond-to('m-desktop') {
                padding: .8rem;
                font-size: 18px;
            }
            &:hover,
            &:focus,
            &:active {
                opacity: 0.7;
                top: -4px;
                cursor: pointer;
            }
            &-rotate {
              transform: rotate(90deg);
            }
        }
    }
    h6 {
        color:  #00acee;
        font-size: 1rem;
        font-weight: 400;
        &.sub-title {
            color:  #808ea6;
            font-size: 1rem;
            font-weight: 400;
            padding-left: 15px;
            @include respond-to('m-desktop') {
                padding-left: 0px;
                text-align: center;
                margin-top: -27px;
            }
            margin-top: -24px;
        }
        i {
            float: right;
        }
    }
    .contact-agent-form {
        text-align: center;
        h5 {
            color:  #00acee;
            font-size: 1rem;
            font-weight: 400;
            margin-top: 1rem;
        }
    }
    .offer-link {
        margin: 0;
        color: #fff;
        transition: all 0.3s ease;
        text-transform: unset;
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        max-width: 100%;
        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
        }
    }
    .home-offers {
        text-align: center;
        padding: 0px 15px;
        h3 {
            color:  #00acee;
            font-size: 1.118rem;
            font-weight: 400;
        }
        h4 {
            color:  #78849b;
            font-size: 1rem;
            font-weight: 400;
        }
        .offer-link {
            @include respond-to('s-desktop') {
                max-width: 350px;
            }
        }
    }
    .home-offers-items {
        padding: 0px 15px;
        @include respond-to('s-desktop') {
            margin-top: 1rem;
            padding: 0px;
        }
        .card {
            border: none;
            box-shadow: 0px 25px 64.6px 3.4px rgba(53, 94, 140, 0.18);
            margin-bottom: 1rem;
            border-radius: 10px;
            .card-header {
                color:  #00acee;
                font-size: 1.118rem;
                font-weight: 500;
                border-bottom: 1px solid #edf0f3;
                background: #fff;
                padding: 1rem 1.25rem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                @include respond-to('s-desktop') {
                    font-size: 1.194rem;
                }
            }
            .card-body {
                p {
                    color:  #1e232c;
                    font-size: 0.941rem;
                    font-weight: 400;
                    @include respond-to('s-desktop') {
                        font-size: 1.005rem;
                    }
                }
                h6 {
                    color:  #1e232c;
                    font-size: 1rem;
                    font-weight: 500;
                    @include respond-to('s-desktop') {
                        font-size: 1.067rem;
                    }
                }
            }
            .card-footer {
                border-top: 1px solid #edf0f3;
                background: #fff;
                padding: 1rem 1.25rem;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                p {
                    color:  #1e232c;
                    font-size: 0.941rem;
                    font-weight: 400;
                    @include respond-to('s-desktop') {
                        font-size: 1.005rem;
                    }
                }
                h6 {
                    color:  #1e232c;
                    font-size: 1rem;
                    font-weight: 500;
                    @include respond-to('s-desktop') {
                        font-size: 1.067rem;
                        line-height: 1.523;
                    }
                }
                .quick-contact {
                    margin-top: 1rem;
                    .agent-phone,
                    .agent-text {
                      &-text {
                        display: inline-block !important;
                        font-size: 1.124rem;
                        font-weight: 500;
                        color:  #1e232c;
                        vertical-align: middle;
                        padding-top: 5px;
                      }
                    }
                    .agent-phone {
                      transform: rotate(90deg);
                      @include respond-to('s-desktop') {
                        margin: 0 1.5em 0 .7em;
                      }
                    }
                    .agent-text {
                        margin-left: 1.4em;
                        color: white;
                        background: $main-color;
                        padding: .8em;
                        border-radius: 50%;
                        font-size: 16px;
                    
                        &-text {
                          font-size: 1rem;
                          margin-left: 0.6em;
                        }
                    }
                }
            }
        }
    }
    .sales-calculator {
        .mobile-estimate {
            text-align: center;
            p {
                color: #707b8f;
                font-size: 0.95rem;
                font-weight: 400;
                padding-bottom: 8px;
            }
            h6 {
                color: #181e28;
                font-size: 1.25rem;
                font-weight: 400;
            }
            i {
                font-size: 1.5rem;
                color: #d4dae4;
                padding-bottom: 8px;
            }
            h5 {
                color: #00abea;
                font-size: 1.45rem;
                font-weight: 400;
            }
        }
        .desktop-estimate {
            max-width: 560px;
            width: 100%;
            margin: 0 auto;
            @include respond-to('s-desktop') {
                padding-bottom: 1rem;
            }
            .left {
                background: #0dbdfb;
                padding: 20px 0px;
                text-align: center;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                &::before {
                    content: "\A";
                    border-style: solid;
                    border-width: 55px 0px 55px 55px;
                    border-color: #00abea transparent transparent transparent;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                &::after {
                    content: "\A";
                    border-style: solid;
                    border-width: 55px 0px 55px 55px;
                    border-color: transparent transparent #00abea transparent;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
                p {
                    color:  #c4efff;
                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 1;
                    padding-bottom: 0;
                }
                h6 {
                    color:  #ffffff;
                    font-size: 1.375rem;
                    font-weight: 400;
                    line-height: 1.6;
                    padding-bottom: 0;
                }
            }
            .right {
                background: #00abea;
                padding: 20px 0px;
                text-align: center;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                p {
                    color:  #c4efff;
                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 1;
                    padding-bottom: 0;
                }
                h6 {
                    color:  #ffffff;
                    font-size: 1.375rem;
                    font-weight: 400;
                    line-height: 1.6;
                    padding-bottom: 0;
                }
            }
        }
        .fields {
            label {
                color: #757e92;
            }
            .offer-link {
                max-width: 320px;
                margin: 0 auto;
                margin-top: 1rem;
                text-transform: unset;
                text-align: center;
                font-weight: 400;
            }
            p {
                color: #757e92;
                font-size: 0.7rem;
                font-weight: 400;
                max-width: 320px;
                display: block;
                margin: 0 auto;
                margin-top: 15px;
                text-align: center;
            }
        }
    }
    .saved-homes {
        text-align: center;
        h2 {
            color:  #1e232c;
            font-size: 1rem;
            font-weight: 500;
            margin: 1rem 0;
            text-transform: uppercase;
            @include respond-to('s-desktop') {
                color:  #1e232c;
                font-size: 1.124rem;
                font-weight: 500;
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
            }
        }
        .offer-link {
            max-width: 320px;
            padding: 12px;
            font-weight: 400;
        }
        .saved-slider {
            margin-top: 2rem;
            .shadow-saved {
                @include respond-to('s-desktop') {
                    box-shadow: 0px 7px 47px 3.4px rgba(53, 94, 140, 0.18);
                    border-radius: 5px;
                }
            }
            .property-item {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 5px;
                margin-left: -15px;
                margin-right: -15px;
                @include respond-to('s-desktop') {
                    margin-left: unset;
                    margin-right: unset;  
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
                cursor: pointer;
                .time-on-market {
                    font-weight: 400;
                    color: #ffffff;
                    font-size: 0.813rem;
                    line-height: 26px;
                    text-align: left;
                    text-shadow: 0px 0px 0px rgba(29, 38, 63, 0.41);
                    text-transform: lowercase;
                    display: block;
                    z-index: 0;
                    position: relative;
                    i {
                        margin-right: 7px;
                        font-size: 0.9rem;
                        vertical-align: middle;
                        display: inline-block !important;
                        position: relative;
                        transition: all 0.3s ease;
                    }
                }            
                .sale-type {
                    color: #ffffff;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    text-align: left;
                    text-shadow: 0px 1px 4.75px rgba(29, 38, 63, 0.53);
                    margin-top: 22%;
                    display:  block;
                    z-index: 0;
                    position: relative;
                    i.red-dot {
                        width: 10px;
                        height: 10px;
                        background: red;
                        display: inline-block;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        margin-right: 4px;
                    }
                }
                .last-call {
                    text-align: left;
                    margin-top: 22%;
                    display:  block;
                    z-index: 0;
                    position: relative;
                    .badge-success {
                        color: #ffffff;
                        font-family: $graphik-font-family;
                        font-weight: 500;
                        font-size: 0.875rem;
                        text-transform: uppercase;
                        background: #7cd62c;
                        i {
                            font-size: 12px;
                            vertical-align: middle;
                        }
                    }
                }
                .property-price {
                    font-family: $graphik-font-family;
                    color: #ffffff;
                    font-size: 1.75rem;
                    font-weight: 300;
                    text-align: left;
                    text-shadow: 0px 3px 5.7px rgba(29, 38, 63, 0.48);
                    text-transform: uppercase;
                    display: inline-block;
                    z-index: 0;
                    position: relative;
                    padding-bottom: 0;
                }
                .property-info {
                    display: inline-block;
                    margin-top: 5px;
                    .beds,
                    .baths,
                    .sqft {
                        font-family: $graphik-font-family; font-weight: 300;
                        color: #ffffff;
                        font-size: 0.938rem;
                        font-weight: 400;
                        text-align: left;
                        text-shadow: 0px 1px 1.9px rgba(29, 38, 63, 0.41);
                        z-index: 0;
                        position: relative;
                        vertical-align: text-bottom;
                    }
                    i {
                        color: #fff;
                        font-size: 3px;
                        vertical-align: super;
                        padding-left: 3px;
                        padding-right: 3px;
                        z-index: 0;
                        position: relative;
                    }
                }
                .property-address {
                    color: #ffffff;
                    font-size: 0.813rem;
                    font-weight: 400;
                    text-align: left;
                    text-shadow: 0px 1px 1.9px rgba(29, 38, 63, 0.41);
                    z-index: 0;
                    position: relative;
                    display: block;
                }
                .favourite {
                    float: right;
                    margin-top: -17px;
                    display: block !important;
                    transition: all 0.3s ease;
                    i {
                        font-size: 26px;
                        color: #fff;
                        transition: all 0.3s ease;
                        display: block !important;
                        position: relative;
                        &:hover,
                        &:active {
                            color: #00aced;
                        }
                        &:focus,
                        &.active {
                            color: #00aced;
                            -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: #fff;
                        }
                    }
                }
            }
            .property-links {
                margin-left: -15px;
                margin-right: -15px;
                @include respond-to('s-desktop') {
                    margin-left: unset;
                    margin-right: unset;  
                    padding: 0 15px;
                }
                .offer-link:first-child {
                    width: 48%;
                    font-size: 13px;
                    margin: 1rem 0;
                    margin-right: 2.5%;
                    text-transform: uppercase;
                    font-weight: 400;
                    @include respond-to('s-desktop') {
                        width: 100%;
                        margin-right: 0;
                        font-size: 1rem;
                    }
                    i {
                        padding: 0px 9px 0 0;
                    }
                }
                .offer-link:last-child {
                    font-weight: 400;
                    width: 48%;
                    font-size: 13px;
                    text-transform: uppercase;
                    @include respond-to('s-desktop') {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 1rem;
                        font-size: 1rem;
                    }
                    i {
                        padding: 0px 9px 0 0;
                    }
                }
            }
        }
    }
    .pre-approval {
        width: 100%;
        display: block;
        padding: 1rem 15px;
        border-top: 1px solid #d6dce6;
        text-align: center;
        @include respond-to('s-desktop') {
            border-top: none;
        }
        .offer-link {
            width: 100%;
            font-size: 13px;
            padding: 13px;
            text-transform: unset;
            font-weight: 400;
            @include respond-to('s-desktop') {
                max-width: 320px;
                margin-top: 3rem;
                font-size: 1rem;
            }
            i {
                padding: 0px 9px 0 0;
            }
        }
    }
    .saved-searches {
        @include respond-to('s-desktop') {
            padding: 0 15px;
        }
        p {
            color:  #1e232c;
            font-size: 0.941rem;
            font-weight: 400;
            padding-bottom: 0;
        }
        h6 {
            color:  #00acee;
            font-size: 1rem;
            font-weight: 500;
        }
        [type="radio"] {
            margin-bottom: 1rem;
            & + label {
                color:  #1e232c;
                font-size: 1.063rem;
                margin-bottom: 1rem;
                padding-left: 22px;
                margin-right: 1rem;
            }
            &:checked + label {
                font-weight: 500;
                &:before {
                    width: 19px;
                    height: 19px;
                    margin-top: 1px;
                    border: 2px solid #09a9e8;
                }
                &:after {
                    width: 13px;
                    height: 13px;
                    background: #09a9e8;
                    position: absolute;
                    top: 4px;
                    left: 3px;
                    opacity: 1;
                }
            }
            &:not(:checked) + label {
                font-weight: 400;
                &:before {
                    width: 19px;
                    height: 19px;
                    margin-top: 1px;
                    border: 2px solid #09a9e8;
                }
                &:after {
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
            }
        }
        .delete {
            color:  #a4b1c4;
            font-size: 1rem;
            font-weight: 400;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            i {
                font-size: 1.5rem;
                vertical-align: middle;
                margin-right: 0.2rem;
            }
        }
    }
    .saved-vr-tours {
        @include respond-to('s-desktop') {
            padding: 0 15px;
        }
        [type="radio"] {
            margin-bottom: 1rem;
            & + label {
                color:  #1e232c;
                font-size: 1.063rem;
                margin-bottom: 0.5rem;
                padding-left: 22px;
                margin-right: 1rem;
            }
            &:checked + label {
                font-weight: 500;
                &:before {
                    width: 19px;
                    height: 19px;
                    margin-top: 1px;
                    border: 2px solid #09a9e8;
                }
                &:after {
                    width: 13px;
                    height: 13px;
                    background: #09a9e8;
                    position: absolute;
                    top: 4px;
                    left: 3px;
                    opacity: 1;
                }
            }
            &:not(:checked) + label {
                font-weight: 400;
                &:before {
                    width: 19px;
                    height: 19px;
                    margin-top: 1px;
                    border: 2px solid #09a9e8;
                }
                &:after {
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
            }
        }
        .save {
            color:  #00acee;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            margin: 0.5rem 0;
            @include respond-to('s-desktop') {
                text-align: left;
                margin: 0;
            }
        }
        .offer-link {
            width: 100%;
            font-size: 13px;
            padding: 13px;
            text-transform: unset;
            font-weight: 400;
            margin-bottom: 1rem;
            @include respond-to('s-desktop') {
                max-width: 320px;
                margin-top: 1rem;
                font-size: 1rem;
            }
            i {
                padding: 0px 9px 0 0;
            }
        }
        .vr-house {
            position: relative;
            background-size: cover !important;
            background-position: center center !important;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 1rem;
            width: 160px;
            height: 160px;
            @include respond-to('s-desktop') {
                height: 180px;
                width: 180px;
            }
            i {
                position: absolute;
                top: 15px;
                right: 15px;
                padding-top: 9px;
                text-align: center;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                background: #00acee;
                color: #fff;
                opacity: 1;
                transition: all 0.3s ease;
                &:hover,
                &:focus,
                &:active {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
        .vr-address {
            color: #1e232c;
            font-weight: 400;
            font-size: 1rem;
            text-align: left;
            line-height: 1;
            width: 160px;
            margin: 0 auto;
            margin-top: 0.5rem;
            @include respond-to('s-desktop') {
                width: unset;
                margin: unset;
                margin-top: 0.5rem;
            }
        }
    }
}