body {
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch;
}
body.noscroll {
    overflow: hidden !important;
    -webkit-overflow-scrolling: auto;
}
.container {
    width: 100%;
    padding-top: 0 !important;
}
.et_pb_row {
    width: 95%;
}
.under_header {
    margin-top: -140px;
    padding-top: 140px !important;
    padding-bottom: 15px;
}
#page-container {
    left: 0px;
    position: relative;
    transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
#overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 39, 77, 0.90);
    z-index: 0;
    transition: visibility 0.8s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
#overlay.open {
    visibility: visible;
    opacity: 1;
    z-index: 99;
}
.et_pb_button {
    &:hover,
    &:action,
    &:focus {
        &::after {
            margin-left: .3em;
        }
        
    }
}
#listingDropdownDesktopMenu {
    .dropdown-item {
        padding: 5px 30px 5px 15px;
    }
}
.google-adresses-dropdown {
    font-family: $default-font-family;
    color: #1e232c;
    font-size: 16px;
}
input[type=text]:focus, 
input[type=email]:focus, 
input[type=password]:focus {
    border-color: #2d3940;
    color: #3e3e3e;
}