/* Search homes styling
    - We're making our own grid, yaay!
------------------------------------------------------- */
#search-homes {
    .form-control {
        &.search {
            display: inline-block;
            position: relative;
            display: none;
        }
    }
    .mobile-fields {
        margin-top: 20px;
        .dropdown {
            display: inline-block;
            box-sizing: border-box;
            width: 48%;
            margin-bottom: 3%;
            h3 {
                font-family: $bold-font-family;
                color:  #1e232c;
                font-size: 14px;
                font-weight: 500;
                line-height: 30px;
                text-align: left;
                text-transform: uppercase;
                margin-top: 5px;
                margin-bottom: 0px;
                padding: 0;
            }
            .btn {
                width: 100%;
                text-align: left;
                padding: 10px 9px;
                font-family: $default-font-family;
                color:  #1e232c;
                font-size: 15px;
                font-weight: 300;
                text-align: left;
                background: #fff;
                border-radius: 3px;
                border-style: solid;
                border-width: 1px;
                border-color:  #d6dce6;
                transition: color 0.3s ease, border-color 0.3s ease, font-weight 0.3s ease;
                &::after {
                    display: none;
                }
                .fas {
                    float: right;
                    margin-top: 5px;
                    color:  #1e232c;
                    transition: color 0.3s ease;
                }
                &:hover,
                &:active,
                &:focus,
                &.active {
                    color: #00aced;
                    border-color:  #00aced;
                    box-shadow: none;
                    .search-checkbox + label {
                        font-weight: bold;
                    }
                    .fas {
                        color: #00aced;
                    }
                }
                .search-checkbox {
                    position: absolute;
                    opacity: 0;
                    & + label {
                      position: relative;
                      cursor: pointer;
                      padding: 0;
                      font-weight: 300;
                      width: 100%;
                      display: block;
                      .fas.color {
                        float: initial;
                        font-size: 8px;
                        vertical-align: middle;
                        margin-top: -3px;
                        margin-right: 4px;
                        &.red {
                            color: #e03225;
                        }
                        &.blue {
                            color: #196aff;
                        }
                        &.green {
                            color: #7cd62c;
                        }
                        &.yellow {
                            color: #ffba13;
                        }
                      }
                      .fas.info {
                        float: initial;
                        vertical-align: middle;
                        margin-top: -3px;
                        color: #00aced;
                      }
                    }
                    & + label:before {
                      content: '';
                      margin-right: 10px;
                      display: inline-block;
                      vertical-align: text-top;
                      width: 16px;
                      height: 16px;
                      background: white;
                      border: 1px solid #d6dce6;
                      border-radius: 3px;
                      transition: background 0.3s ease;
                    }
                    /*&:hover + label:before {
                      background: #00aced;
                    }*/
                    &:checked + label:before {
                      background: #00aced;
                    }
                    &:checked + label:after {
                      content: '';
                      position: absolute;
                      left: 4px;
                      top: 10px;
                      background: white;
                      width: 1.5px;
                      height: 1.5px;
                      box-shadow: 
                        1.5px 0 0 white,
                        3px 0 0 white,
                        3px -1.5px 0 white,
                        3px -3px 0 white,
                        3px -4px 0 white,
                        3px -6px 0 white;
                      transform: rotate(45deg);
                    }
                }
            }
            .dropdown-menu {
                min-width: 12rem;
                box-shadow: 0px 0px 66.5px 3.5px rgba(10, 25, 40, 0.19);
                margin-top: 0.60rem;
                border: none;
                .dropdown-item {
                    font-family: $default-font-family;
                    color:  #1e232c;
                    font-size: 15px;
                    font-weight: 300;
                    text-align: left;
                }
                &::after {
                    bottom: 100%;
                    left: 20%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #ffffff;
                    border-width: 8px;
                    margin-left: -8px;
                }
                .dropdown-checkbox {
                    position: absolute;
                    opacity: 0;
                    & + label {
                      position: relative;
                      cursor: pointer;
                      padding: 0;
                      font-weight: 300;
                      width: 100%;
                      display: block;
                    }
                    & + label:before {
                      content: '';
                      margin-right: 10px;
                      display: inline-block;
                      vertical-align: middle;
                      width: 16px;
                      height: 16px;
                      background: white;
                      border: 1px solid #d6dce6;
                      border-radius: 3px;
                      transition: background 0.3s ease;
                    }
                    &:hover + label:before {
                      background: #00aced;
                    }
                    &:checked + label:before {
                      background: #00aced;
                    }
                    &:checked label::after {
                      content: '';
                      position: absolute;
                      left: 4px;
                      top: 11px;
                      background: white;
                      width: 1.5px;
                      height: 1.5px;
                      box-shadow: 
                        1.5px 0 0 white,
                        3px 0 0 white,
                        3px -1.5px 0 white,
                        3px -3px 0 white,
                        3px -4px 0 white,
                        3px -6px 0 white;
                      transform: rotate(45deg);
                    }
                }
            }
            &:nth-child(odd){
                margin-left: 1%;
            }
            &:nth-child(even){
                margin-right: 1%;
            }
            &.bedrooms {
                margin-left: 0%; 
                .dropdown-wrapper {
                    width: 100%;
                    position: relative;
                    min-width: 15.5rem;
                    text-align: center;
                    .custom {
                        background: #f5f8f9;
                        display: inline-block;
                        width: 38px;
                        height: 38px;
                        border-radius: 50%;
                        padding: 0;
                        color: #7e8893;
                        text-align: center;
                        line-height: 2.8;
                        margin: 0px 2px;
                        transition: color 0.3s ease, background 0.3s ease;
                        position: relative;
                        font-size: 14px;
                        font-family: $default-font-family;
                        font-weight: 400;
                        &:hover,
                        &:active,
                        &:focus,
                        &.active {
                            color: #fff;
                            background: #00aced;
                            cursor: pointer;
                        }
                    }
                    .custom-checkbox {
                        label {
                            font-family: $default-font-family;
                            color: #1e232c;
                            font-size: 15px;
                            font-weight: 300;
                            text-align: left;
                            padding: 5px 17px;
                        }
                    }
                }
            }
            &.hometype {
                margin-left: 2%;
                margin-right: 0%;
            }
        }
    }
    .price-field {
        width: 99%;
        margin-left: 0%; /* Because my grid skills are retarded */
        h3 {
            font-family: $bold-font-family;
            color:  #1e232c;
            font-size: 14px;
            font-weight: 500;
            line-height: 30px;
            text-align: left;
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 0px;
            padding: 0;
        }
        .input-group {
            .form-control {
                font-family: $light-font-family;
                color:  #96a7bc;
                font-size: 16px;
                font-weight: 300;
                text-align: left;
                border-style: solid;
                border-width: 1px;
                border-color:  #d6dce6;
                box-sizing: border-box;
                border-radius: 3px;
                background-color:  #ffffff;
                padding: 24px 12px;
                box-shadow: inset 0px 11px 38px -24px rgba(0,0,0,0.53);
                &:hover,
                &:active,
                &:focus {
                    box-shadow: inset 0px 8px 38px -24px rgba(0,0,0,0.53);
                }
                &:not(:last-child) {
                    border-top-right-radius: 0px !important;
                    border-bottom-right-radius: 0px !important;
                }
                &:last-child {
                    border-top-left-radius: 0px !important;
                    border-bottom-left-radius: 0px !important;
                }
            }
        }
    }
    .search-links {
        border-top: 1px solid #d6dce6;
        padding: 15px 18px;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 20px;
        a {
            font-family: $default-font-family;
            color:  #00aced;
            font-size: 15px;
            font-weight: 300;
            text-align: left;
            margin-right: 10px;
            opacity: 1;
            transition: opacity 0.3s ease;
            text-decoration: none;
            outline: none;
            &#filters {
                font-weight: bold;
            }
            &#save-search {
                float: right;
                margin-right: 0;
            }
            &:hover,
            &:active,
            &:focus {
                opacity: 0.7;
                outline: none;
            }
        }
    }
    .property-list {
        .column-item {padding: 0;}
        .listing-heading {
            padding: 15px 15px;
            padding-top: 25px;
            .location-name {
                font-family: $default-font-family;
                color:  #1e232c;
                font-size: 22px;
                font-weight: 400;
                text-align: left;
                margin: 0;
                padding: 0;
            }
            .location-info {
                font-family: $default-font-family;
                color:  #1e232c;
                font-size: 15px;
                font-weight: 400;
                text-align: left;
            }
            .save-search {
                font-family: $default-font-family;
                color:  #00aced;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                float: right;
                display: inline-block;
                margin-top: -35px;
            }
        }
        .property-item {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 0px;
            margin: 0 auto;
            cursor: pointer;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #000000b8 100%);
            background-size: cover !important;
            /*&:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                
                opacity: .6; 
                border-radius: 0px;
                cursor: pointer;
              }*/
            .time-on-market {
                font-family: $default-font-family;
                color: #ffffff;
                font-size: 15px;
                line-height: 26px;
                text-align: left;
                text-shadow: 0px 0px 0px rgba(29, 38, 63, 0.41);
                text-transform: lowercase;
                display: block;
                z-index: 0;
                position: relative;
                i {
                    margin-right: 7px;
                }
            }
            .favourite {
                float: right;
                margin-top: -16px;
                font-size: 22px;
                color: #fff;
            }
            .sale-type {
                font-family: $bold-font-family;
                color: #ffffff;
                font-size: 14px;
                text-transform: uppercase;
                line-height: 30px;
                text-align: left;
                text-shadow: 0px 1px 4.75px rgba(29, 38, 63, 0.53);
                margin-top: 85px;
                display:  block;
                z-index: 0;
                position: relative;
                i.red-dot {
                    width: 10px;
                    height: 10px;
                    background: red;
                    display: inline-block;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    margin-right: 4px;
                }
            }
            .property-price {
                font-family: $default-font-family;
                color: #ffffff;
                font-size: 29px;
                text-align: left;
                text-shadow: 0px 3px 5.7px rgba(29, 38, 63, 0.48);
                text-transform: uppercase;
                display: inline-block;
                z-index: 0;
                position: relative;
                padding-bottom: 0;
            }
            .property-info {
                display: inline-block;
                margin-top: 5px;
                .beds,
                .baths,
                .sqft {
                    font-family: $light-font-family;
                    color: #ffffff;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: left;
                    text-shadow: 0px 1px 1.9px rgba(29, 38, 63, 0.41);
                    z-index: 0;
                    position: relative;
                    vertical-align: text-bottom;
                }
                i {
                    color: #fff;
                    font-size: 5px;
                    vertical-align: super;
                    padding-left: 3px;
                    padding-right: 3px;
                    z-index: 0;
                    position: relative;
                }
            }
            .property-address {
                font-family: $default-font-family;
                color: #ffffff;
                font-size: 13px;
                text-align: left;
                text-shadow: 0px 1px 1.9px rgba(29, 38, 63, 0.41);
                z-index: 0;
                position: relative;
                display: block;
            }
        }
        .cta-insert {
            display: block;
            position: relative;
            margin: 0;
            background: #00aced;
            padding: 25px 10px;
            text-align: center;
            h1 {
                font-family: $light-font-family;
                color:  #ffffff;
                font-size: 22px;
                font-weight: 400;
                line-height: 34px;
                text-align: center;
            }
            p {
                font-family: $light-font-family;
                color:  #ffffff;
                font-size: 15px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
            }
            .cta {
                margin-top: 10px;
                margin-bottom: 0px;
                font-size: 14px;
                background-color: #00aced;
                border-color: #00aced;
                outline: none !important;
                box-shadow: none !important;
                i {
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        }
    }
    .pagination {
        padding: 10px 0px;
        text-align: center;
        div {
            display: block;
            width: 100%;
            text-align: center;
            ul {
                width: 100%;
                display: block;
                text-align: center;
                clear: none;
                list-style: none;
                li {
                    display: inline-block;
                    a {
                        font-family: $default-font-family;
                        font-size: 16px;
                        font-weight: 500;
                        padding: 0;
                        background: #fff;
                        color:  #373b43;
                        border-radius: 50%;
                        display: block;
                        width: 34px;
                        line-height: 34px;
                        height: 34px;
                        border: 0;
                        margin: 0px 2px;
                        transition: background 0.3s ease, color 0.3s ease;
                        text-transform: uppercase;
                        &:hover,
                        &:active,
                        &:focus {
                            background: #00aced;
                            color:  #ffffff;
                        }
                        &.next {
                            border-radius: 3px;
                            width: auto;
                            height: auto;
                            padding: 0px 5px;
                        }
                    }
                }
            }
        }
    }
    .map-wrapper {
        width: -webkit-fill-available;
        display: block;
        margin: 0 -15px;
        position: relative;
        height: 100%;
    }
}