/* Search homes styling
    - We're making our own grid, yaay!
------------------------------------------------------- */
#search-homes {
    margin: 20px 0px;
    .form-control {
        &.search {
            display: inline-block;
            position: relative;
            display: none;
        }
    }
    .dropdown {
        display: inline-block;
        box-sizing: border-box;
        width: 48%;
        margin-bottom: 3%;
        h3 {
            font-family: $bold-font-family;
            color:  #1e232c;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-align: left;
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 0;
        }
        .btn {
            width: 100%;
            text-align: left;
            padding: 12px 10px;
            font-family: $light-font-family;
            color:  #1e232c;
            font-size: 16px;
            font-weight: 300;
            text-align: left;
            background: #fff;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            border-color:  #d6dce6;
            transition: color 0.3s ease, border-color 0.3s ease, font-weight 0.3s ease;
            &::after {
                display: none;
            }
            .fas {
                float: right;
                margin-top: 5px;
                color:  #1e232c;
                transition: color 0.3s ease;
            }
            &:hover,
            &:active,
            &:focus,
            &.active {
                color: $main-color;
                border-color:  $main-color;
                box-shadow: none;
                .search-checkbox + label {
                    font-weight: bold;
                }
                .fas {
                    color: $main-color;
                }
            }
            .search-checkbox {
                position: absolute;
                opacity: 0;
                & + label {
                  position: relative;
                  cursor: pointer;
                  padding: 0;
                  font-weight: 300;
                  width: 100%;
                  display: block;
                  .fas.color {
                    float: initial;
                    font-size: 8px;
                    vertical-align: middle;
                    margin-top: -3px;
                    margin-right: 4px;
                    &.red {
                        color: #e03225;
                    }
                    &.blue {
                        color: #196aff;
                    }
                    &.green {
                        color: #7cd62c;
                    }
                    &.yellow {
                        color: #ffba13;
                    }
                  }
                  .fas.info {
                    float: initial;
                    vertical-align: middle;
                    margin-top: -3px;
                    color: $main-color;
                  }
                }
                & + label:before {
                  content: '';
                  margin-right: 10px;
                  display: inline-block;
                  vertical-align: text-top;
                  width: 16px;
                  height: 16px;
                  background: white;
                  border: 1px solid #d6dce6;
                  border-radius: 3px;
                  transition: background 0.3s ease;
                }
                &:hover + label:before {
                  background: $main-color;
                }
                &:checked + label:before {
                  background: $main-color;
                }
                &:checked + label:after {
                  content: '';
                  position: absolute;
                  left: 4px;
                  top: 10px;
                  background: white;
                  width: 1.5px;
                  height: 1.5px;
                  box-shadow: 
                    1.5px 0 0 white,
                    3px 0 0 white,
                    3px -1.5px 0 white,
                    3px -3px 0 white,
                    3px -4px 0 white,
                    3px -6px 0 white;
                  transform: rotate(45deg);
                }
            }
        }
        .dropdown-menu {
            min-width: 12rem;
            box-shadow: 0px 0px 66.5px 3.5px rgba(10, 25, 40, 0.19);
            margin-top: 0.60rem;
            border: none;
            .dropdown-item {
                font-family: $light-font-family;
                color:  #1e232c;
                font-size: 17px;
                font-weight: 300;
                text-align: left;
            }
            &::after {
                bottom: 100%;
                left: 20%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #ffffff;
                border-width: 8px;
                margin-left: -8px;
            }
            .dropdown-checkbox {
                position: absolute;
                opacity: 0;
                & + label {
                  position: relative;
                  cursor: pointer;
                  padding: 0;
                  font-weight: 300;
                  width: 100%;
                  display: block;
                }
                & + label:before {
                  content: '';
                  margin-right: 10px;
                  display: inline-block;
                  vertical-align: middle;
                  width: 16px;
                  height: 16px;
                  background: white;
                  border: 1px solid #d6dce6;
                  border-radius: 3px;
                  transition: background 0.3s ease;
                }
                &:hover + label:before {
                  background: $main-color;
                }
                &:checked + label:before {
                  background: $main-color;
                }
                &:checked label::after {
                  content: '';
                  position: absolute;
                  left: 4px;
                  top: 11px;
                  background: white;
                  width: 1.5px;
                  height: 1.5px;
                  box-shadow: 
                    1.5px 0 0 white,
                    3px 0 0 white,
                    3px -1.5px 0 white,
                    3px -3px 0 white,
                    3px -4px 0 white,
                    3px -6px 0 white;
                  transform: rotate(45deg);
                }
            }
        }
        &:nth-child(odd){
            margin-left: 1%;
        }
        &:nth-child(even){
            margin-right: 1%;
        }
        &.bedrooms {
            margin-left: 0%; 
        }
        &.hometype {
            margin-left: 2%;
            margin-right: 0%;
        }
    }
    .price-field {
        width: 99%;
        margin-left: 0%; /* Because my grid skills are retarded */
        h3 {
            font-family: $bold-font-family;
            color:  #1e232c;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-align: left;
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 0;
        }
        .input-group {
            .form-control {
                font-family: $light-font-family;
                color:  #96a7bc;
                font-size: 16px;
                font-weight: 300;
                text-align: left;
                border-style: solid;
                border-width: 1px;
                border-color:  #d6dce6;
                box-sizing: border-box;
                border-radius: 3px;
                background-color:  #ffffff;
                padding: 24px 12px;
                box-shadow: inset 0px 11px 38px -24px rgba(0,0,0,0.53);
                &:hover,
                &:active,
                &:focus {
                    box-shadow: inset 0px 8px 38px -24px rgba(0,0,0,0.53);
                }
                &:not(:last-child) {
                    border-top-right-radius: 0px !important;
                    border-bottom-right-radius: 0px !important;
                }
                &:last-child {
                    border-top-left-radius: 0px !important;
                    border-bottom-left-radius: 0px !important;
                }
            }
        }
    }
    .search-links {
        border-top: 1px solid #d6dce6;
        padding: 15px 18px;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 20px;
        a {
            font-family: $light-font-family;
            color:  $main-color;
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
            text-align: left;
            margin-right: 10px;
            opacity: 1;
            transition: opacity 0.3s ease;
            text-decoration: none;
            outline: none;
            &#filters {
                font-weight: bold;
            }
            &#save-search {
                float: right;
                margin-right: 0;
            }
            &:hover,
            &:active,
            &:focus {
                opacity: 0.7;
                outline: none;
            }
        }
    }
    .property-list {
        .property-item {
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 0px;
            margin: 0 -15px;
            cursor: pointer;
            /*&:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(to bottom, rgba(255,255,255,0) 42%, rgba(0,0,0,1) 100%);
                opacity: .6; 
                border-radius: 0px;
                cursor: pointer;
              }*/
            .time-on-market {
                font-family: $default-font-family;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                text-align: left;
                text-shadow: 0px 0px 0px rgba(29, 38, 63, 0.41);
                text-transform: lowercase;
                display: block;
                z-index: 0;
                position: relative;
            }
            .sale-type {
                font-family: $bold-font-family;
                color: #ffffff;
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 26px;
                text-align: left;
                text-shadow: 0px 1px 4.75px rgba(29, 38, 63, 0.53);
                margin-top: 95px;
                display:  block;
                z-index: 0;
                position: relative;
            }
            .property-price {
                font-family: $light-font-family;
                color: #ffffff;
                font-size: 31px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
                text-shadow: 0px 3px 5.7px rgba(29, 38, 63, 0.48);
                text-transform: uppercase;
                display: inline-block;
                z-index: 0;
                position: relative;
            }
            .property-info {
                display: inline-block;
                float: right;
                .beds,
                .baths,
                .sqft {
                    font-family: $light-font-family;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                    text-shadow: 0px 1px 1.9px rgba(29, 38, 63, 0.41);
                    z-index: 0;
                    position: relative;
                }
                i {
                    color: #fff;
                    font-size: 5px;
                    vertical-align: middle;
                    padding-left: 4px;
                    padding-right: 4px;
                    z-index: 0;
                    position: relative;
                }
            }
            .property-address {
                margin-top: 5px;
                font-family: $light-font-family;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
                text-shadow: 0px 1px 1.9px rgba(29, 38, 63, 0.41);
                z-index: 0;
                position: relative;
                display: block;
            }
        }
        .cta-insert {
            display: block;
            position: relative;
            margin: 0 -15px;
            background: $main-color;
            padding: 20px 0px;
            text-align: center;
            h1 {
                font-family: $light-font-family;
                color:  #ffffff;
                font-size: 26px;
                font-weight: 400;
                line-height: 34px;
                text-align: center;
            }
            p {
                font-family: $light-font-family;
                color:  #ffffff;
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
            }
            .cta {
                margin-top: 25px;
                margin-bottom: 10px;
                font-size: 14px;
                background-color: $main-color;
                border-color: $main-color;
                outline: none !important;
                box-shadow: none !important;
                i {
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        }
    }
    .pagination {
        padding: 10px 0px;
        text-align: center;
        nav {
            text-align: center;
            li {
                a {
                    font-family: $default-font-family;
                    
                    font-size: 18px;
                    font-weight: 500;
                    text-align: center;
                    line-height: 34px;
                    padding: 0;
                    background: #fff;
                    color:  #373b43;
                    border-radius: 50%;
                    display: block;
                    width: 34px;
                    height: 34px;
                    border: 0;
                    margin: 0px 3px;
                    transition: background 0.3s ease, color 0.3s ease;
                    text-transform: uppercase;
                    &:hover,
                    &:active,
                    &:focus {
                        background: $main-color;
                        color:  #ffffff;
                    }
                    &.next {
                        border-radius: 0;
                        width: auto;
                        height: auto;
                        padding: 0px 5px;
                    }
                }
            }
        }
    }
}