
.multi-step {
  overflow: hidden;
  margin: 0 auto !important;

  &-440 {
    max-width: 440px;
  }

  .step-temp {
    &--crimson {
      background: crimson;
    }
  }

  .step {
    width: 100%;
    display: none;
   
    &.active {
      display: block;
    }
    &-inset {
      margin: 0 1.2em;
    }

    .link-blue {
      color: $main-lighter;
      font-weight: 500;
    }

    p {
      font-size: .9rem;
      @include respond-to('desktop') {
        font-size: 1rem;
      }
    }
  }

  .step-notify {
    .offer-link {
      margin-top: 13px !important;
    }
  }

  .step-calender {
    width: 100% !important;
    margin: unset !important;
  }

  .stage {
    display: flex;
    align-items: flex-start;
  }

  .stage.transit {
    transition: transform 300ms;
  }

  .step-toggler {
    cursor: pointer;
  }

  .step-circle {
    @include make-circle(36px, 16px);
  }

  .step-circle--checkmark {
    background: $main-color;
  }
}

.schedule-step-form {
  font-family: $graphik-font-family; font-weight: 400;
  padding: 2em 0 3em;
  h1.estate-tile {
    font-size: 1.2rem;
    margin-bottom: 15px;
    line-height: 1.34;
    font-weight: 400;
  }
  h1.notify-title {
    font-size: 1.3rem;
    margin-bottom: 0;
    line-height: 1.34;
    font-weight: 400;
  }
  h1.when-tour {
    font-size: 1.3rem;
    margin-left: 1em;
    text-align: center;
    margin-bottom: 20px;
  }
  h2.information {
    font-size: 1rem;
    font-weight: 400;
    padding: 9px 0 25px;
    font-family: $graphik-font-family;
  }
  p.info-text {
    text-align: center;
    color: #262628;
    font-family: $graphik-font-family; font-weight: 500;
  }
  .offer-link {
    text-align: center;
    text-transform: unset;
    margin-bottom: 0;
    font-size: 16px !important;
    font-weight: 400;
    margin: 0;
    max-width: 100%;
    padding: 12px 0;
    i {
      margin-left: 7px;
    }
    font-family: $default-font-family !important;
  }
  .step-wrap {
    display: flex;
    align-items: center;
    .arrow {
      margin-left: auto;
      font-size: 1.1rem;
      color: #a9bfc7;
    }
  }
  p.approve-text {
    font-size: 1.312rem !important;
    padding: 0;
    margin-left: .5em;
    color: #1e232c;
  }

  .lh-form {
    margin-top: 9px;
  }
}

.data-carousel-wrap {
  display: flex;
  justify-content: center;
  margin: 0;
  .dated-stage {
    display: flex;
    transition: all 400ms;
    &.center {
      justify-content: center;
    }
  }
  .right-control-arrow {
    cursor: pointer;
    padding-left: 1em;
    margin-top: 15px;
    margin-bottom: 25px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 5px 2px #355e8c15;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-right: 4px;
    i {
      display: block;
    }
    
    @include respond-to('desktop') {
      margin-right: 60px;
      box-shadow: unset;
    }
  }
  .left-control-arrow {
    cursor: pointer;
    padding-left: 4px;
    margin-bottom: 25px;
    margin-top: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 5px 2px #355e8c15;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 1em;
    i {
      display: block;
    }
    @include respond-to('desktop') {
      margin-left: 60px;
      box-shadow: unset;
    }
  }
}

.offer-link-wrap {
  padding: 0 1em;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  .offer-link {
    font-size: .9rem !important;
    display: flex;
    justify-content: space-between;
    width: 90%;
    @include respond-to('tablet') {
      width: 60%;
    }
    @include respond-to('desktop') {
      width: 30%;
    }
    a {
      margin-left: .8em;
    }
  }
}

.offer-link-form-wrap {
  margin-top: 2.2em;
  .offer-link {
    //font-size: .9rem;
    display: flex;
    justify-content: space-between;
    a {
      margin-left: .8em;
    }
  }
}

.info-text-wrap {
  margin: 1em 0 1.3em;
  p {
    font-family: $default-font-family !important;
  }
  a {
    font-family: $bold-font-family !important;
  }
}

.dated-carousel {
  margin: 0;
  flex: 1;
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
  .wrap {
    padding: 1.3em 1em;
    @include respond-to('desktop') {
      padding: 1.5em 2em;
    }
  }
  h1 {
    text-align: center;
    font-size: 1.3rem;
    padding: 0;
  }
  h2 {
    text-align: center;
    font-size: 1em;
  }
  hr {
    border-top: 2px solid $main-color;
    margin: 15px auto 13px;
    width: 13px;

  }
  .date-slide {
    width: 102px !important;
    border-radius: 10px;
    box-shadow: 0px 10px 22.8px 1.2px rgba(53, 94, 140, 0.13);
    transition: all 300ms;
    cursor: pointer;
    flex: 0 0 auto;
    @include respond-to('desktop') {
      width: 120px !important;
    }

    &.active {
      background: $main-color;
      position: relative;
      bottom: 8px;
      box-shadow: 1px 12px 50px 3.4px rgba(53, 94, 140, 0.22);
      hr {
        border-top: 2px solid #84d7f9;
      }
      h1, h2 {
        font-family: $graphik-font-family; font-weight: 500;
        color: white;
      }
    }
  }
}

.time {
  .wrap {
    padding: 1em 0;
  }
  .date-slide {
    text-align: center;
    &.active {
      h3 {
        color: white;
      }
    }
  }
  h3 {
    font-family: $graphik-font-family; font-weight: 500;
    font-size: 1em;
    padding: 0;
    margin: 0;
  }
}