.multi-step {
  overflow: hidden;
  max-width: 100vw;
  .step-temp {
    &--crimson {
      background: crimson;
    }
  }

  .step {
    display: none;
    width: 100vw;
    &.active {
      display: block;
    }
  }

  .stage {
    display: flex;
    align-items: flex-start;
  }

  .stage.transit {
    transition: transform 300ms;
  }

  .step-toggler {
    cursor: pointer;
  }

  .step-circle {
    @include make-circle(36px, 16px);
  }

  .step-circle--checkmark {
    background: $main-color;
  }
}

.schedule-step-form {
  font-family: $default-font-family;
  margin: 2em 1.3em 3em;
  h1.estate-tile {
    font-size: 1.2rem;
    margin-bottom: 15px;
    line-height: 1.34;
  }
  h1.notify-title {
    font-size: 1.3rem;
    margin-bottom: 0;
    line-height: 1.34;
  }
  h2.information {
    font-size: 1rem;
    padding: 1rem 0 1.7rem;
    font-family: $bold-font-family;
  }
  .offer-link {
    text-align: center;
    text-transform: unset;
    margin-bottom: 0;
    margin: 0;
    max-width: 100%;
    padding: 12px 0;
    i {
      margin-left: 7px;
    }
    font-family: $default-font-family !important;
  }
  .step-wrap {
    display: flex;
    align-items: center;
    .arrow {
      margin-left: auto;
      font-size: 1.1rem;
      color: #a9bfc7;
    }
  }
  p.approve-text {
    font-size: 1.312rem;
    padding: 0;
    margin-left: .5em;
    color: #1e232c;
  }
}

.mw-100-step {
  max-width: 100%;
  width: 100%;
}

.data-carousel-wrap {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  .dated-stage {
    display: flex;
    transition: all 400ms;
  }
  .right-control-arrow {
    cursor: pointer;
    padding-left: 1em;
    margin-top: 15px;
    margin-bottom: 25px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 5px 2px #355e8c15;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-right: 4px;
    i {
      display: block;
    }
  }
  .left-control-arrow {
    cursor: pointer;
    padding-left: 4px;
    margin-bottom: 25px;
    margin-top: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 5px 2px #355e8c15;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-right: 1em;
    i {
      display: block;
    }
  }
}

.dated-carousel {
  margin: 0 0 10px;
  flex: 1;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  .wrap {
    padding: 1em 1.3em;
  }
  h1 {
    text-align: center;
    font-size: 1.3rem;
    padding: 0;
  }
  h2 {
    text-align: center;
    font-size: 1em;
  }
  hr {
    border-top: 2px solid $main-color;
    margin: 15px auto 13px;
    width: 13px;

  }
  .date-slide {
    border-radius: 4px;
    box-shadow: 0px 5px 5px 2px #355e8c15;
    &.active {
      background: $main-color;
      position: relative;
      bottom: 8px;
      hr {
        border-top: 2px solid #84d7f9;
      }
      h1, h2 {
        font-family: $bold-font-family;
        color: white;
      }
    }
  }
}