.multi-step {
  overflow: hidden;
  max-width: 100vw;
  .step-temp {
    &--crimson {
      background: crimson;
    }
  }

  .step {
    display: none;
    width: 100vw;
    &.active {
      display: block;
    }
  }

  .stage {
    display: flex;
    align-items: flex-start;
  }

  .stage.transit {
    transition: transform 300ms;
  }

  .step-toggler {
    cursor: pointer;
  }

  .step-circle {
    @include make-circle(36px, 16px);
  }

  .step-circle--checkmark {
    background: $main-color;
  }
}

.schedule-step-form {
  font-family: $default-font-family;
  margin: 2em 1.3em 3em;
  h1.estate-tile {
    font-size: 1.2rem;
    margin-bottom: 15px;
    line-height: 1.34;
  }
  h1.notify-title {
    font-size: 1.3rem;
    margin-bottom: 0;
    line-height: 1.34;
  }
  h2.information {
    font-size: 1rem;
    padding: 1rem 0 1.7rem;
    font-family: $bold-font-family;
  }
  .offer-link {
    text-align: center;
    text-transform: unset;
    margin-bottom: 0;
    margin: 0;
    max-width: 100%;
    padding: 12px 0;
    i {
      margin-left: 7px;
    }
    font-family: $default-font-family !important;
  }
  .step-wrap {
    display: flex;
    align-items: center;
    .arrow {
      margin-left: auto;
      font-size: 1.1rem;
      color: #a9bfc7;
    }
  }
  p.approve-text {
    font-size: 1.312rem;
    padding: 0;
    margin-left: .5em;
    color: #1e232c;
  }
}

.mw-100-step {
  max-width: 100%;
  width: 100%;
}

.dated-carousel {
  display: flex;
  justify-content: center;
  margin: 0 0 10px;
  .wrap {
    padding: 1.7em 2.2em;
  }
  h1 {
    text-align: center;
    font-size: 1.3rem;
    padding: 0;
  }
  h2 {
    text-align: center;
    font-size: 1em;
  }
  hr {
    border-top: 2px solid $main-color;
    margin: 15px auto 13px;
    width: 13px;

  }
  .date-slide {
    margin: 0 1em;
    border-radius: 4px;
    box-shadow: 0px 43px 64.6px 3.4px rgba(53, 94, 140, 0.22);
    &.active {
      background: $main-color;
      position: relative;
      bottom: 8px;
      hr {
        border-top: 2px solid #84d7f9;
      }
      h2 {
        color: white;
      }
    }
  }
}