/*
 *  Temp-fixing the search-homes issues.  
 */
#search-homes {
    #main_content {
        #listing-area {
            @include respond-to('desktop') {
                height: calc( 100% - 116px );
            }
        }
        #map-area {
            @include respond-to('desktop') {
                height: calc( 100% - 116px );
            }  
        }
    }
}
#modalvue {
    .modal {
        visibility: visible !important;
        display: block !important;
        left: -100%;
        transition: all 0.5s ease !important;
        padding: 0 !important;
        .modal-transition {
            transform: unset !important;
        }
        &.is-visible {
            left: 0 !important;
        }
        .modal-wrapper {
            width: 100%;
            position: fixed;
            @include respond-to('s-desktop') {
                position: absolute;
                max-width: 1024px;
                width: 100%;
                left: 0;
                right: 0;
                margin: 0 auto;
            }   
            @include respond-to('desktop') {
                margin-top: 2.5rem;
                border-radius: 5px;
                overflow: hidden;
            }  
            .modal-header {
                box-shadow: unset !important;
                border: unset !important;
                height: unset !important;
            }
            .modal-body {
                padding: unset !important;
                .modal-content {
                    max-width: unset !important;
                    overflow-y: scroll;
                    border: 0;
                    width: 100% !important;
                    height: calc(100vh - 58px);
                    border-radius: unset !important;
                    @include respond-to('desktop') {
                        max-height: 600px;
                        height: 100%;
                    }  
                    .offer-link {
                        font-size: 13px !important;
                        width: 100% !important;
                    }
                }
            }
        }
        .lh-pictures {margin: 0 !important;}
        .various-link {padding: 0 15px;}
        .faw-options {padding-left: 0;}
        .vr-iframe {overflow:hidden; border-radius: 5px;}
        .blue-bg {
            width: calc(100% + 30px);
            @include respond-to('desktop') {
                width: calc(100% + 38px);
                border-radius: 0 !important;
            }   
        }
    }
}