
$default-font-family: "Graphik Regular", sans-serif;
$light-font-family: "Graphik Light", sans-serif;
$bold-font-family: "Graphik Medium", sans-serif;

$main-color: #00acee;
$main-lighter: #49c4f3;
$lightergray: #d6dce6;
$grayish: #b6c2c7;
$gray-paragraph: #525b6a;

h1 {
  &.list-home-title {
    font-size: 22px;
  }
  &.list-home-title--pb {
    padding-bottom: 1em;
  }
}


.w-100-25 {
  width: calc(100% - 25px) !important;
}