
$default-font-family: "Graphik Regular", sans-serif;
$light-font-family: "Graphik Light", sans-serif;
$bold-font-family: "Graphik Medium", sans-serif;

$main-color: #00aced;
$bla: 3;

.pl {
  height: #{(397.59 / 2 - 2)}px;
  background: yellow;
}

.lh-pictures {
  justify-content: space-between;
  .col-6 {
    flex-basis: calc(50% - 4.5px);
  }
  .col-6:nth-child(1), .col-6:nth-child(2) {
    margin-bottom: 4px;
  }
  .col-6:nth-child(1), .col-6:nth-child(3) {
    margin-left: 4px;
  }
}

