
$default-font-family: "Graphik Regular", sans-serif;
$light-font-family: "Graphik Light", sans-serif;
$bold-font-family: "Graphik Medium", sans-serif;

$main-color: #00aced;

.t {
  min-height: 100vh;
  background: $main-color;
}